body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #121212;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  text-align: center;
}

.download-links {
  margin-top: 20px;
}

.download-button {
  display: inline-block;
  background-color: #76B9ED;
  color: black; 
  padding: 8px 10px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-decoration: none;
}

.download-button:hover {
  background-color: #5a9bd4; /* A slightly darker shade */
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: rgba(18, 18, 18, 0.952);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  color: rgb(218, 218, 218); 
}

.version-link {
  display: block;
  color: #76B9ED; 
  margin: 10px 0;
  text-decoration: none;
}

.version-link:hover {
  text-decoration: underline;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

.release-notes-container {
  margin-top: 40px;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 10px;
  color: white;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.release-notes-container h1, .release-notes-container h2, .release-notes-container h3 {
  color: #76B9ED;
}

.release-notes-container p, .release-notes-container ul, .release-notes-container ol {
  color: #dcdcdc;
}
